/*
For overwriting style.css */
body{
	background: url(https://media2.malaymail.com/uploads/articles/2020/2020-04/UiTM2_15042020.jpg);
	background-position: center;
  	background-size: cover;
}

nav{
	z-index: 1;
}